html {
    background-color: #000;
}

body {
    color: #eee;
}

header {
    padding-left: 20px;
}

header ul li {
    float: left;
}

header ul li#logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 100%;
    height: 50px;
    width: 200px;
    margin-top: 10px;
}

header ul li#version {
    margin: 40px 0 0 -10px;
    font-size: 12px;
}

header ul li#today {
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
}

article .grid {
    position: relative;
    width: 100%;
    margin: 20px;
}

article .grid-item {
    position: absolute;
    transition: .3s ease-in-out;
    padding: 10px 20px;
}

article .menu {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

article .menu.menu-wind {
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545890182106&di=82c9d65a253f1df177cd3ea50138d043&imgtype=0&src=http%3A%2F%2Fp1.qhimgs4.com%2Ft0138ae437e28147ca6.jpg);
}

article .menu.menu-pevc {
    background-image: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1727839969,1726842898&fm=26&gp=0.jpg);
}

article .menu.menu-tax {
    background-image: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2594639022,2706354141&fm=26&gp=0.jpg);
}

article .menu.menu-yan {
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545315089216&di=8d9e8c86077815f7256dae5868d7abcb&imgtype=jpg&src=http%3A%2F%2Fimg2.imgtn.bdimg.com%2Fit%2Fu%3D2179615967%2C3118214959%26fm%3D214%26gp%3D0.jpg);
}

article .menu.menu-lee {
    background-image: url(http://www.showerlee.com/avatar/info_new.jpg);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 10px 20px 20px;
}

footer ul li {
    font-size: 200%;
    float: left;
}

footer ul li#gov {
    float: right;
    font-size: 12px;
    margin-top: 20px;
    color: #999;
}

footer ul li#gov a {
    color: #999;
}

footer .menu {
    cursor: pointer;
}

a {
    color: #eee;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.noscroll {
    overflow: hidden;
}

.page {
    position: absolute;
    top: 10;
    left: 10;
    right: 10;
    bottom: 10;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset,
        0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(240, 0%, 100%, .5);
    background-color: rgba(100, 100, 100, .3);
    z-index: 99;
}

.page::after {
    content: '';
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -ms-filter: blur(100px);
    -o-filter: blur(100px);
    filter: blur(100px);
}

.page .page-header {
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #000;
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset,
        0 0 1px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    padding: 0 20px;
}

.page .page-header ul li {
    float: left;
    margin-left: 10px;
}

.page .page-header ul li.page-header-btn-close {
    float: right;
}

.page .page-header ul li.page-header-btn-open {
    float: right;
}

/* .page .page-header .page-header-title {} */

.page-loading {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

.page .page-content {
    padding: 0 3px;
    position: absolute;
    top: 30;
    left: 0;
    right: 0;
    bottom: 30;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.page .page-content iframe {
    position: relative;
    border: 0;
    height: 100%;
    width: 100%;
}

.page .page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000;
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, .3) inset,
        0 0 1px rgba(0, 0, 0, 0.6);
    font-size: 12px;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    body {
        background: url('../img/plief.jpg') no-repeat top left;
        background-size: 100% 100%;
    }

    .hover:hover {
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
    }
}

@media screen and (max-width: 768px) {
    .touch {
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
    }
}