.clear {
  clear: both;
}

.up {
  color: #f5222d;
}

.down {
  color: #52c41a;
}

.nav {
  width: 60px;
}

.nav ul li {
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  line-height: 15px;
}

.nav ul li.active {
  color: #fff;
  background-color: #1890ff;
}

.nav ul li small {
  font-size: 10px;
}

.menus {
  padding: 10px 10px 10px 20px;
}

.menus .pane {
  margin-bottom: 10px;
}

.menus .pane .title {
  font-weight: 800;
  padding: 5px 10px;
}

.menus .pane .content {
  border: 1px solid #f7f7f7;
  box-shadow: 1px 1px 5px #bbb;
  padding: 5px;
}

.menus .pane .content:hover {
  box-shadow: 2px 2px 5px #bbb;
}

.menus .pane span {
  cursor: pointer;
  display: inline-block;
  margin: 2px 5px;
  width: 135px;
}

.menus .pane span:hover {
  background-color: #ddd;
}

.container {
  padding: 10px;
}

.container .search {
  padding: 10px 5px;
}

.container .advertising {
  color: #fff;
  padding: 10px 5px;
}

.container .empty {
  background-image: url(https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3298707557,232385168&fm=26&gp=0.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  height: 350px;
}

.container .empty2 {
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1546430492124&di=f7edd95f4adfe11591586e2fffe3216f&imgtype=0&src=http%3A%2F%2Fp0.ifengimg.com%2Fpmop%2F2018%2F0813%2F42736E2E47B3F72F24B65139DA860225AC131F25_size89_w1080_h706.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  height: 350px;
}

.container .stock {
  padding: 10px 5px;
}

.container .stock table {
  width: 100%;
  border: 1px solid #f7f7f7;
  box-shadow: 1px 1px 5px #bbb;
}

.container .stock table:hover {
  box-shadow: 2px 2px 5px #bbb;
}

.container .stock table th,
.container .stock table td {
  padding: 5px 10px;
}

.container .stock table thead tr:nth-child(1) {
  background-color: #f7f7f7;
}

.container .stock table thead tr:nth-child(2) {
  background-color: #fff;
}

.container .stock table tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.container .stock table tbody tr:nth-child(even) {
  background-color: #fff;
}

.container .stock table tbody tr:hover {
  cursor: pointer;
  background-color: #ddd;
}

.container .stock table tr th:nth-child(3),
.container .stock table tr th:nth-child(4),
.container .stock table tr td:nth-child(3),
.container .stock table tr td:nth-child(4) {
  text-align: right;
}

.container .block {
  padding: 10px 5px 10px 15px;
}

.container .block .pane {
  background-color: #fff;
  border: 1px solid #f7f7f7;
  box-shadow: 1px 1px 5px #bbb;
  margin-bottom: 15px;
}

.container .block .pane:hover {
  box-shadow: 2px 2px 5px #bbb;
}

.container .block .pane .title {
  background-color: #f7f7f7;
  padding: 5px 10px;
  font-weight: 800;
}

.container .block .pane .img {
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1546505497544&di=b7b418c50ccfea9810279079affc0366&imgtype=0&src=http%3A%2F%2Fpic30.photophoto.cn%2F20140228%2F0010023265155207_b.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
  margin: 10px;
}

.container .block .pane .content {
  padding: 10px;
}
