.top {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
}

.center {
  margin: 20px 0;
  text-align: center;
}

.left {
  float: left;
  width: 55%;
}

.right {
  float: right;
  width: 45%;
}

.title {
  font-size: 16px;
  color: #1890ff;
  padding: 10px 5px;
}

.bottom {
  width: 700px;
  margin: 0 auto;
  height: 300px;
}

.bottom ul li {
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bottom ul li a {
  color: #666;
}

.bottom ul li button {
  background-color: #1890ff !important;
}
